<div class="header">
    <div class="header-logo">Quest</div>
    <div class="header-menu">
        <ul>
            <li></li>
            <li></li>
            <li>О нас</li>
        </ul>
    </div>
</div>