<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%=blocks.title%></title>
        <link rel='stylesheet' href='./css/style.css' />
    </head>
    <body>
        <%- partial('../partials/headerlogout')%>
        <h1><%=blocks.title %></h1>
        <%- body -%>
    </body>
</html>